:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

body {
    font-family:
        -apple-system,       /* iOS Safari, macOS Safari, macOS Firefox */
        BlinkMacSystemFont,  /* macOS Chrome                            */
        "Segoe UI",          /* Windows                                 */
        Roboto,              /* Android, Chrome OS                      */
        Oxygen, Oxygen-Sans, /* KDE                                     */
        Ubuntu,              /* Ubuntu                                  */
        Cantarell,           /* GNOME                                   */
        "Fira Sans",         /* Firefox OS                              */
        "Droid Sans",        /* Older versions of Android               */
        "Helvetica Neue",    /* macOS versions before 10.11             */
        "Open Sans",         /* Any                                     */
        Helvetica,           /* Any                                     */
        Arial,               /* Any                                     */
        sans-serif,          /* Any                                     */
        /* Emojis */
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: auto;
    max-width: 760px;
    line-height: 1.6;
    font-size: 18px;
    color: var(--base00);
    background-color: var(--base3);
    padding: 0 10px;
}

h1, h2 {
    line-height: 1.2;
    color: var(--green);
}

a:link {
    color: var(--yellow);
}

a:visited {
    color: var(--orange);
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--base0);
        background-color: var(--base03);
    }
}
